<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>ようこそ<strong>ながのCAKE</strong>へ！</h2>
            <p>このサイトは、ケーキ販売のECサイトになります。</p>
            <p>会員でない方も商品を閲覧はできますが、</p>
            <p>購入には会員登録が必要になります。</p>
        </div>
    </div>
</div>